*{margin: auto;}
a{
    text-decoration: none;
color: black;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  background-color: #fff;
}


.logo {}

.menu ul {
  display: flex;
  gap: 24px;
}

.menu ul li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}
.menu ul li a:hover{
    color: #469165;
}
button:hover{
    background-color: red!important;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    transition-duration: 100ms;
}
.btn {
  padding: 10px 20px;
  background-color: #469165;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}
.btn-w{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 12px 20px;
    color: #469165;
    font-weight:bold;
}
.btn-o{
    background-color: #00e66000;
    border: 2px solid white;
    border-radius: 5px;
    padding: 12px 20px;
    color: rgb(255, 254, 254);
    font-weight: 700px
}
#hero{
    background-image: url(assets/hero-bg.png);
    height: 600px;
    text-align: center;
    justify-content: center;
    margin: auto;
    display: flex;
}
.hero h2{
    font-size: 40px;
    color: white;
}
.hero p{
    font-size: 20px;
    color: white;
}
#notes{
    text-align: center;
    margin: 30px 0;
}
#notes h2{font-size: 40px;}
#notes p{font-size: 20px;}
.notes-items{
    display: flex;
    gap: 20px;
    max-width: 75%;
}
.notesitems{
    background-color: rgb(248, 248, 248);
    padding: 15px;
    border-radius: 10px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}
.notesitems img{
    background-color: red;
    padding: 10px;
    border-radius: 100%;
}